@use 'color' as *;
@use 'mixin' as *;

// ================================
// タグ、ボタン、見出しなど共通して使うもの
// ================================

// --- 横幅 ---
.inner {
    padding-right: 2rem;
    padding-left: 2rem;
}

// --- 共通 ---
* {
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: top;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4E301B;
    cursor: pointer;
}

// --- 表示・非表示切り替え ---
.pc_only {
    display: none;

    @include mq(tb) {
        display: inline-block;
    }
}

.sp_only {
    display: inline-block;

    @include mq(tb) {
        display: none;
    }
}

// --- 見出し ---
.product__heading,
.info__heading,
.access__heading,
.contact__heading,
.faq__heading {
    font-size: 3.2rem;
    line-height: calc(42 / 32);
    text-align: center;

    @include mq(tb) {
        font-size: 32px;
    }
}