// ================================
// フォント
// ================================

// --- ページ全体のフォント指定 ---
body {
    font-family:'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}