// ================================
// 変数・ブレイクポイント・メディアクエリ
// ================================

// --- ブレイクポイント ※ブレイクポイントとメディアクエリの書順番を守る ---
$breakpoint: sp, tb, pc, pg;

$breakpoints: (
    sp:576,
    tb:768,
    pc:992,
    pg:1200,
);

// --- メディアクエリ ----
$breakpoints: (
    sp: "only screen and (min-width: 576px)",
    tb: "only screen and (min-width: 768px)",
    pc: "only screen and (min-width: 992px)",
    pg: "only screen and (min-width: 1200px)",
);

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/*sp*/
@media screen and (min-width: 576px) {
    html {
        font-size: 1.3vw;
    }
}

/*tb*/
@media screen and (min-width: 768px) {
    html {
        font-size: 1.73vw;
    }
}

/*PC*/
@media screen and (min-width: 992px) {
    html {
        font-size: 1vw;
    }
}

/*pg pcbig*/
@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}




// @media screen and (max-width: 750.9px) {
//     html {
//         font-size: 1.33vw;
//     }
// }


/*pc*/
// @media screen and (min-width: 751px)and (max-width: 1919.9px) {
//     html {
//         font-size: 0.52vw;
//     }
// }

// @media screen and (min-width: 1920px) {
//     html {
//         font-size: 16px;
//     }
// }

// --- フォントの指定 ---

// @mixin font-poppins {
//     font-family: 'Poppins', sans-serif;
//     font-weight: 700;
// }

// --- 余白設定 ---
$padding_pc: 25px;
$padding_sp: 20px;