@charset "UTF-8";
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #4E301B;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 1.739vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  html {
    font-size: 0.78vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
.inner {
  padding-right: 2rem;
  padding-left: 2rem;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4E301B;
  cursor: pointer;
}

.pc_only {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pc_only {
    display: inline-block;
  }
}

.sp_only {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .sp_only {
    display: none;
  }
}

.product__heading,
.info__heading,
.access__heading,
.contact__heading {
  font-size: 3.2rem;
  line-height: 1.3125;
  text-align: center;
}

/*スマホ・タブレット ヘッダー*/
.header {
  width: 100%;
}

.sp__header {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .sp__header {
    display: none;
  }
}

.sp__inner-01 {
  width: 100%;
  height: auto;
  background-image: url(../../asset/image/mv_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
}

.hamburger-circle {
  width: 48px;
  height: 48px;
  background-color: #FED966;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: auto;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
}

.hamburger-circle span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #4E301B;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hamburger-circle span:nth-child(1) {
  top: 25%;
}
.hamburger-circle span:nth-child(2) {
  top: 45%;
}
.hamburger-circle span:nth-child(3) {
  top: 65%;
}

.hamburger-circle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 45%;
  left: 35%;
}

.hamburger-circle.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-circle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
  left: 35%;
}

.sp__header-heading {
  padding: 42.3rem 0 11.8rem 3.3rem;
}

.sp__header-heading span {
  font-size: 2.4rem;
  line-height: 1;
  display: inline-block;
  padding: 0.7rem;
  margin-top: 0.6rem;
  background-color: #fff;
}
.sp__header-heading span:first-of-type {
  margin-top: 0;
}

.sp__inner-02 {
  background-color: #FDF9EF;
}

.sp__logo {
  display: grid;
  place-items: center;
}

.sp__logo-cow {
  padding: 2rem;
  width: 15.4rem;
  height: 15.4rem;
  border-radius: 50%;
  background-color: #FDF9EF;
  margin: -7rem auto 0;
}

.sp__logo-name {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.logo_ja {
  display: block;
  width: 27.5rem;
  margin: 0 auto;
}

.logo_en {
  display: block;
  width: 14.2rem;
  margin: 1rem auto 0;
}

/*ハンバーガーメニュー 右からメニューページがスライドイン*/
#slide-in {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 6.1rem;
  width: 100%;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 10;
}

/*panelactiveがついたら位置を変更right0*/
#slide-in.panelactive {
  right: 0;
}

.slide-in-cow {
  width: 5.5rem;
  display: inline-block;
}

.slide-in-name {
  margin-top: 10px;
}
.slide-in-name .logo_ja {
  width: 28rem;
}
.slide-in-name .logo_en {
  width: 14.3rem;
}

.hamburger__menu {
  margin-top: 5rem;
}

.hamburger__menu-list {
  margin-top: 16px;
}

.hamburger__menu-list:first-child {
  margin-top: 0;
}

.hamburger__menu-list a {
  font-size: 14px;
}

#js-top-nav.open {
  right: 0;
}

/*PCヘッダー*/
.pc__header {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pc__header {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-inner {
    width: 100%;
    height: 85.4rem;
    background-image: url(../../asset/image/fv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__header-inner {
    height: 854px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-heading {
    text-align: right;
    padding-top: 8.75%;
    padding-right: 11.41%;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-heading span {
    writing-mode: vertical-rl;
    font-size: 3.2rem;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    letter-spacing: 0.42em;
    padding: 1rem 1.5rem 0.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__header-heading span {
    font-size: 32px;
    display: inline-block;
    padding: 10px 15px 5px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav {
    background-color: #FDF9EF;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-cow {
    display: grid;
    place-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-inner {
    padding: 2.9rem;
    background-color: #FDF9EF;
    border-radius: 50%;
    margin-top: -8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-inner {
    padding: 29px;
    margin-top: -80px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-cow-img {
    width: 9.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-cow-img {
    width: 96px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .pc__nav-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 11.7rem;
    padding-right: 18.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-inner {
    padding-left: 117px;
    padding-right: 181px;
  }
}

@media only screen and (min-width: 992px) {
  .pc__nav-left {
    display: flex;
    gap: 3.9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-left {
    gap: 39px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-list {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .pc__nav-list {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-list a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-list a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-name {
    text-align: center;
    margin-left: 4.9rem;
    margin-right: 5.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-name {
    margin-left: 49px;
    margin-right: 53px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-ja {
    display: block;
    width: 27.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-ja {
    width: 275px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-en {
    display: inline-block;
    width: 14.2rem;
    margin-top: 1.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-en {
    width: 142px;
    margin-top: 11px;
  }
}

@media only screen and (min-width: 992px) {
  .pc__nav-right {
    display: flex;
    gap: 3.9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-right {
    gap: 39px;
  }
}

.intro {
  background-color: #FDF9EF;
  width: 100%;
  padding-top: 2.4rem;
}

.intro__img01 {
  display: block;
  border-radius: 80px;
  width: 80%;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .intro__img01 {
    width: 76.8rem;
    border-radius: 15rem;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__img01 {
    width: 768px;
    border-radius: 150px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .intro__wrapper {
    max-width: 1280px;
    padding-right: 43px;
    padding-left: 178px;
    margin: 0 auto;
  }
}

.intro__heading {
  margin-top: -25rem;
}
@media only screen and (min-width: 768px) {
  .intro__heading {
    margin-top: -45.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__heading {
    margin-top: -455px;
  }
}

.intro__heading span {
  font-size: 2.8rem;
  color: #35A1C3;
  line-height: 1;
  display: inline-block;
  padding: 0.7rem;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .intro__heading span {
    font-size: 4rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__heading span {
    font-size: 40px;
  }
}

.intro__heading span:first-child {
  margin-top: 0;
}

.intro_desc {
  font-size: 14px;
  line-height: 1.8;
  color: #857868;
  width: 50rem;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .intro_desc {
    width: 52.6rem;
    font-size: 1.6rem;
    line-height: 2.5;
    padding: 1.5rem;
    margin-top: 3.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro_desc {
    width: 526px;
    font-size: 16px;
    padding: 15px;
    margin-top: 37px;
  }
}

.intro__img02 {
  display: block;
  border-radius: 5rem;
  width: 60%;
  margin-left: auto;
  margin-top: -8rem;
}
@media only screen and (min-width: 768px) {
  .intro__img02 {
    width: 39.3rem;
    margin-top: -19.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__img02 {
    border-radius: 50px;
    width: 393px;
    margin-left: auto;
    margin-top: -198px;
  }
}

.product {
  width: 100%;
  background-color: #FDF9EF;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.product__wrapper {
  margin-top: 4rem;
}

.swiper__inner {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  max-width: 26.4rem;
}

.swiper__text {
  padding: 11px;
  min-height: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper__desc {
  font-size: 1.6rem;
}

.swiper__price {
  font-size: 1.6rem;
  font-weight: 400;
}
