@charset "UTF-8";
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #4E301B;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 1.739vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  html {
    font-size: 0.78vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
.inner {
  padding-right: 2rem;
  padding-left: 2rem;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4E301B;
  cursor: pointer;
}

.pc_only {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pc_only {
    display: inline-block;
  }
}

.sp_only {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .sp_only {
    display: none;
  }
}

.product__heading,
.info__heading,
.access__heading,
.contact__heading {
  font-size: 3.2rem;
  line-height: 1.3125;
}
