@charset "UTF-8";
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #4E301B;
}

@media screen and (max-width: 575px) {
  html {
    font-size: 1.739vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  html {
    font-size: 0.78vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
.inner {
  padding-right: 2rem;
  padding-left: 2rem;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4E301B;
  cursor: pointer;
}

.pc_only {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pc_only {
    display: inline-block;
  }
}

.sp_only {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .sp_only {
    display: none;
  }
}

.product__heading,
.info__heading,
.access__heading,
.contact__heading,
.faq__heading {
  font-size: 3.2rem;
  line-height: 1.3125;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .product__heading,
  .info__heading,
  .access__heading,
  .contact__heading,
  .faq__heading {
    font-size: 32px;
  }
}

/*スマホ・タブレット ヘッダー*/
.header {
  width: 100%;
}

.sp__header {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .sp__header {
    display: none;
  }
}

.sp__inner-01 {
  width: 100%;
  height: auto;
  background-image: url(../../asset/image/mv_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -1;
}

.hamburger-circle {
  width: 48px;
  height: 48px;
  background-color: #FED966;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: auto;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
}

.hamburger-circle span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #4E301B;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hamburger-circle span:nth-child(1) {
  top: 25%;
}
.hamburger-circle span:nth-child(2) {
  top: 45%;
}
.hamburger-circle span:nth-child(3) {
  top: 65%;
}

.hamburger-circle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 45%;
  left: 35%;
}

.hamburger-circle.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-circle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
  left: 35%;
}

.sp__header-heading {
  padding: 42.3rem 0 11.8rem 3.3rem;
}

.sp__header-heading span {
  font-size: 2.4rem;
  line-height: 1;
  display: inline-block;
  padding: 0.7rem;
  margin-top: 0.6rem;
  background-color: #fff;
}
.sp__header-heading span:first-of-type {
  margin-top: 0;
}

.sp__inner-02 {
  background-color: #FDF9EF;
}

.sp__logo {
  display: grid;
  place-items: center;
}

.sp__logo-cow {
  padding: 2rem;
  width: 15.4rem;
  height: 15.4rem;
  border-radius: 50%;
  background-color: #FDF9EF;
  margin: -7rem auto 0;
}

.sp__logo-name {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.logo_ja {
  display: block;
  width: 27.5rem;
  margin: 0 auto;
}

.logo_en {
  display: block;
  width: 14.2rem;
  margin: 1rem auto 0;
}

/*ハンバーガーメニュー 右からメニューページがスライドイン*/
#slide-in {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 6.1rem;
  width: 100%;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 10;
}

/*panelactiveがついたら位置を変更right0*/
#slide-in.panelactive {
  right: 0;
}

.slide-in-cow {
  width: 5.5rem;
  display: inline-block;
}

.slide-in-name {
  margin-top: 10px;
}
.slide-in-name .logo_ja {
  width: 28rem;
}
.slide-in-name .logo_en {
  width: 14.3rem;
}

.hamburger__menu {
  margin-top: 5rem;
}

.hamburger__menu-list {
  margin-top: 16px;
}

.hamburger__menu-list:first-child {
  margin-top: 0;
}

.hamburger__menu-list a {
  font-size: 14px;
}

#js-top-nav.open {
  right: 0;
}

/*PCヘッダー*/
.pc__header {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pc__header {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-inner {
    width: 100%;
    height: 85.4rem;
    background-image: url(../../asset/image/fv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__header-inner {
    height: 854px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-heading {
    text-align: right;
    padding-top: 8.75%;
    padding-right: 11.41%;
  }
}

@media only screen and (min-width: 768px) {
  .pc__header-heading span {
    writing-mode: vertical-rl;
    font-size: 3.2rem;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    letter-spacing: 0.42em;
    padding: 1rem 1.5rem 0.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__header-heading span {
    font-size: 32px;
    display: inline-block;
    padding: 10px 15px 5px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav {
    background-color: #FDF9EF;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-cow {
    display: grid;
    place-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-inner {
    padding: 2.9rem;
    background-color: #FDF9EF;
    border-radius: 50%;
    margin-top: -8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-inner {
    padding: 29px;
    margin-top: -80px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-cow-img {
    width: 9.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-cow-img {
    width: 96px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  .pc__nav-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 11.7rem;
    padding-right: 18.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-inner {
    padding-left: 117px;
    padding-right: 181px;
  }
}

@media only screen and (min-width: 992px) {
  .pc__nav-left {
    display: flex;
    gap: 3.9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-left {
    gap: 39px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-list {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .pc__nav-list {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .pc__nav-list a {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-list a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-name {
    text-align: center;
    margin-left: 4.9rem;
    margin-right: 5.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-name {
    margin-left: 49px;
    margin-right: 53px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-ja {
    display: block;
    width: 27.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-ja {
    width: 275px;
  }
}

@media only screen and (min-width: 768px) {
  .pc__logo-en {
    display: inline-block;
    width: 14.2rem;
    margin-top: 1.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__logo-en {
    width: 142px;
    margin-top: 11px;
  }
}

@media only screen and (min-width: 992px) {
  .pc__nav-right {
    display: flex;
    gap: 3.9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .pc__nav-right {
    gap: 39px;
  }
}

.intro {
  background-color: #FDF9EF;
  width: 100%;
  padding-top: 2.4rem;
}

.intro__img01 {
  display: block;
  border-radius: 80px;
  width: 80%;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .intro__img01 {
    width: 76.8rem;
    border-radius: 15rem;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__img01 {
    width: 768px;
    border-radius: 150px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .intro__wrapper {
    max-width: 1280px;
    padding-right: 43px;
    padding-left: 178px;
    margin: 0 auto;
  }
}

.intro__heading {
  margin-top: -25rem;
}
@media only screen and (min-width: 768px) {
  .intro__heading {
    margin-top: -45.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__heading {
    margin-top: -455px;
  }
}

.intro__heading span {
  font-size: 2.8rem;
  color: #35A1C3;
  line-height: 1;
  display: inline-block;
  padding: 0.7rem;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .intro__heading span {
    font-size: 4rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__heading span {
    font-size: 40px;
  }
}

.intro__heading span:first-child {
  margin-top: 0;
}

.intro_desc {
  font-size: 14px;
  line-height: 1.8;
  color: #857868;
  width: 50rem;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
@media only screen and (min-width: 768px) {
  .intro_desc {
    width: 52.6rem;
    font-size: 1.6rem;
    line-height: 2.5;
    padding: 1.5rem;
    margin-top: 3.7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro_desc {
    width: 526px;
    font-size: 16px;
    padding: 15px;
    margin-top: 37px;
  }
}

.intro__img02 {
  display: block;
  border-radius: 5rem;
  width: 60%;
  margin-left: auto;
  margin-top: -8rem;
}
@media only screen and (min-width: 768px) {
  .intro__img02 {
    width: 39.3rem;
    margin-top: -19.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .intro__img02 {
    border-radius: 50px;
    width: 393px;
    margin-left: auto;
    margin-top: -198px;
  }
}

.product {
  width: 100%;
  background-color: #FDF9EF;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  z-index: -3;
}
@media only screen and (min-width: 768px) {
  .product {
    padding-top: 6rem;
    padding-bottom: 8.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .product {
    padding-top: 60px;
    padding-bottom: 88px;
  }
}

.product__wrapper {
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  .product__wrapper {
    margin-top: 9.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .product__wrapper {
    margin-top: 94px;
  }
}

.swiper {
  z-index: -1;
}

.swiper__inner {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 6px;
}

.swiper__text {
  padding: 1.6rem;
  min-height: 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .swiper__text {
    min-height: 16.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .swiper__text {
    min-height: 165px;
  }
}

.swiper__desc {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media only screen and (min-width: 1280px) {
  .swiper__desc {
    font-size: 16px;
  }
}

.swiper__price {
  font-size: 1.6rem;
  font-weight: 400;
}
@media only screen and (min-width: 1280px) {
  .swiper__price {
    font-size: 16px;
  }
}

.info {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media only screen and (min-width: 768px) {
  .info {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .info {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.info__wrapper {
  padding-top: 4rem;
}
@media only screen and (min-width: 1280px) {
  .info__wrapper {
    padding-top: 40px;
  }
}

.info__inner {
  max-width: 90%;
  margin: 0 auto;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .info__inner {
    max-width: 93.4rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12rem;
  }
}
@media only screen and (min-width: 1280px) {
  .info__inner {
    max-width: 934px;
    padding-top: 22px;
    padding-bottom: 22px;
    gap: 120px;
  }
}

.info__time {
  font-size: 13px;
  font-weight: 400;
}

.info__text {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
}

.faq {
  width: 100%;
  background-color: #FDF9EF;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media only screen and (min-width: 768px) {
  .faq {
    padding-top: 9.1rem;
    padding-bottom: 9.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .faq {
    padding-top: 91px;
    padding-bottom: 91px;
  }
}

.faq__wrapper {
  margin-top: 3.6rem;
}
@media only screen and (min-width: 768px) {
  .faq__wrapper {
    margin-top: 7.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .faq__wrapper {
    margin-top: 73px;
  }
}

.faq__inner {
  max-width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .faq__inner {
    max-width: 74rem;
  }
}
@media only screen and (min-width: 1280px) {
  .faq__inner {
    max-width: 740px;
  }
}

.faq__q {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.4444444444;
  padding: 1.2rem 1.4rem 1rem;
  display: flex;
  align-items: center;
  margin-top: 3.1rem;
}
@media only screen and (min-width: 768px) {
  .faq__q {
    font-size: 1.8rem;
    padding: 0.8rem 1.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .faq__q {
    font-size: 18px;
    padding: 8px 14px;
    margin-top: 31px;
  }
}

.faq__q:first-child {
  margin-top: 0;
}

.faq__q-q {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 8px;
}
@media only screen and (min-width: 1280px) {
  .faq__q-q {
    font-size: 24px;
  }
}

.open-icon {
  display: inline-block;
  width: 16px;
  height: 10px;
  background-image: url(../../asset/image/down.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
}

.faq__a {
  margin-top: 2.4rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
@media only screen and (min-width: 1280px) {
  .faq__a {
    margin-top: 24px;
  }
}

/*アコーディオン*/
.js_a {
  display: none;
}

.open-icon.active {
  background-image: url(../../asset/image/up.png);
}

.access {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media only screen and (min-width: 768px) {
  .access {
    padding-top: 9rem;
    padding-bottom: 7.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .access {
    padding-top: 90px;
    padding-bottom: 78px;
  }
}

.access__wrapper {
  width: 90%;
  margin: 6rem auto 0;
}
@media only screen and (min-width: 768px) {
  .access__wrapper {
    width: 93.4rem;
    margin: 9rem auto 0;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1280px) {
  .access__wrapper {
    width: 934px;
    margin: 90px auto 0;
  }
}

@media only screen and (min-width: 768px) {
  .access__date {
    width: 45.9rem;
    margin-right: 3.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .access__date {
    width: 459px;
    margin-right: 32px;
  }
}

.date__inner {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
}
@media only screen and (min-width: 1280px) {
  .date__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.date__title {
  font-size: clamp(12px, 2.5vw, 1.8rem);
  width: 8rem;
}
@media only screen and (min-width: 768px) {
  .date__title {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .date__title {
    font-size: 18px;
    width: 80px;
  }
}

.date__text {
  font-size: clamp(12px, 2.5vw, 1.8rem);
}
@media only screen and (min-width: 768px) {
  .date__text {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .date__text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .access__map-wrapper {
    max-width: 44.3rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .access__map-wrapper {
    max-width: 443px;
  }
}

.access__map {
  margin-top: 4rem;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}
@media only screen and (min-width: 768px) {
  .access__map {
    margin-top: 0;
  }
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*input,textareaのリセット*/
input,
textarea {
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
}

.contact {
  width: 100%;
  background-color: #FDF9EF;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .contact {
    padding-top: 10.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .contact {
    padding-top: 104px;
    padding-bottom: 30px;
  }
}

.contact__lead {
  margin-top: 4rem;
  font-size: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .contact__lead {
    margin-top: 6.7rem;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1280px) {
  .contact__lead {
    margin-top: 67px;
    font-size: 18px;
  }
}

.form__wrapper {
  margin-top: 4.2rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 37px 16px 14px;
}
@media only screen and (min-width: 768px) {
  .form__wrapper {
    margin-top: 9.3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form__wrapper {
    margin-top: 93px;
  }
}

.form__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .form__title {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form__title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .form__item {
    margin-top: 24px;
  }
}

.form__list {
  margin-top: 32px;
}
@media only screen and (min-width: 768px) {
  .form__list {
    margin-top: 2.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form__list {
    margin-top: 24px;
  }
}

.form__list:first-child {
  margin-top: 0;
}

.form__label {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .form__label {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .form__label {
    font-size: 16px;
  }
}

.required {
  background-color: #FED966;
  border-radius: 8px;
  padding: 3px 6px;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .required {
    border-radius: 1rem;
    padding: 0.5rem 1.1rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .required {
    border-radius: 10px;
    padding: 5px 11px;
    font-size: 14px;
  }
}

.inquiry__item {
  margin-top: 10px;
  padding-left: 20px;
}
.inquiry__list {
  margin-top: 5px;
  font-size: 14px;
}
.inquiry__list:first-child {
  margin-top: 0;
}

.radio__btn {
  width: 16px;
  height: 16px;
  border: solid 1px #4E301B;
  border-radius: 50%;
  /*上下の位置調整*/
  vertical-align: -4px;
}
.radio__btn:checked {
  background-color: #fff;
  border: 6px solid #4E301B;
  box-shadow: 0 0 0 1px #fff;
}

.radio__btn:hover,
.submit__btn:hover {
  cursor: pointer;
}

.form__input {
  margin-top: 8px;
}
.text__box-01,
.text__box-02,
.textarea {
  background-color: #EFEAE6;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
.text__box-02 {
  width: 50%;
}
.textarea {
  line-height: 1.8;
  height: 12em;
}
.submit__wrapper {
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  .submit__wrapper {
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .submit__wrapper {
    margin-top: 50px;
  }
}

.submit__btn {
  font-size: 14px;
  padding: 13px;
}
