@use '../global' as *;

// --- アクセス ここから ---
.access {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;

    @include mq(tb) {
        padding-top: 9rem;
        padding-bottom: 8.2rem;
    }

    @include mq(pg) {
        padding-top: 90px;
        padding-bottom: 82px;
    }
}

.access::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -7rem;
    width: 21.1rem;
    height: 12rem;
    background-image: url(../../asset/image/brussels_sprouts.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(tb) {
        width: 26.4rem;
        height: 15rem;
        bottom: -7.2rem;
    }

    @include mq(pg) {
        width: 264px;
        height: 150px;
        bottom: -72px;
    }

}

.access__wrapper {
    width: 90%;
    margin: 6rem auto 0;

    @include mq(tb) {
        max-width: 93.4rem;
        margin: 9rem auto 0;
        display: flex;
        justify-content: center;
    }

    @include mq(pg) {
        max-width: 934px;
        margin: 90px auto 0;
    }
}

.access__date {
    @include mq(tb) {
        width: 45.9rem;
        margin-right: 3.2rem;
    }

    @include mq(pg) {
        width: 459px;
        margin-right: 32px;
    }
}

.date__inner {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;

    @include mq(pg) {
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 96px;
    }
}

.date__title {
    font-size: clamp(12px, 2.5vw, 1.8rem);
    width: 8rem;

    @include mq(tb) {
        font-size: 1.8rem;
    }

    @include mq(pg) {
        font-size: 18px;
        width: 80px;
    }

}

.date__text {
    font-size: clamp(12px, 2.5vw, 1.8rem);

    @include mq(tb) {
        font-size: 1.8rem;
    }

    @include mq(pg) {
        font-size: 18px;
    }
}

.access__map-wrapper {
    @include mq(tb) {
        max-width: 44.3rem;
        width: 100%;
    }

    @include mq(pg) {
        max-width: 443px;
    }
}

.access__map {
    margin-top: 4rem;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;

    @include mq(tb) {
        margin-top: 0;
    }
}

.access__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// --- アクセス ここまで ---