@use '../global' as *;

// --- お問い合わせ ここから ---

/*input,textareaのリセット*/
input,
textarea {
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 100%;
}

.contact {
    width: 100%;
    background-color: $main_bg;
    padding-top: 6rem;
    padding-bottom: 3rem;

    @include mq(tb) {
        padding-top: 10.7rem;
    }

    @include mq(pg) {
        padding-top: 107px;
        padding-bottom: 30px;
    }
}



.contact__lead {
    margin-top: 4rem;
    font-size: 16px;
    text-align: center;

    @include mq(tb) {
        margin-top: 6.7rem;
        font-size: 1.8rem;
    }

    @include mq(pg) {
        margin-top: 67px;
        font-size: 18px;
    }

}

.form__wrapper {
    margin-top: 4.2rem;
    background-color: #fff;
    border-radius: 20px;
    padding: 37px 16px 14px;

    @include mq(tb) {
        margin: 9.3rem auto 0;
        padding: 4rem 7.6rem 4.4rem;
        max-width: 74rem;
    }

    @include mq(pg) {
        margin: 93px auto 0;
        padding: 40px 76px 44px;
        max-width: 740px;
    }
}

.form__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 3rem;


    @include mq(tb) {
        font-size: 1.8rem;
        margin-bottom: 4.1rem;
    }

    @include mq(pg) {
        font-size: 18px;
        margin-bottom: 41px;
    }
}

.form__list {
    margin-top: 32px;

    @include mq(tb) {
        margin-top: 3.1rem;
        display: flex;
    }

    @include mq(pg) {
        margin-top: 31px;
    }
}

.form__list:first-child {
    margin-top: 0;
}

.form__label {
    font-size: 14px;
    display: block;

    @include mq(tb) {
        font-size: 1.6rem;
        width: 25.4rem;
    }

    @include mq(pg) {
        font-size: 16px;
        width: 254px;
    }
}

.required {
    background-color: $yellow;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    margin-left: 1.6rem;

    @include mq(tb) {
        border-radius: 1rem;
        padding: .5rem 1.1rem;
        font-size: 1.4rem;
        margin-left: 1.6rem;
    }

    @include mq(pg) {
        border-radius: 10px;
        padding: 5px 11px;
        font-size: 14px;
        margin-left: 16px;
    }
}

.inquiry__item {
    margin-top: 10px;
    padding-left: 20px;

    @include mq(tb) {
        margin-top: 0;
        padding-left: 0;
    }

}

.inquiry__list {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: .15em;
}

.inquiry__list:first-child {
    margin-top: 0;
}


.radio__btn {
    width: 16px;
    height: 16px;
    border: solid 1px #4E301B;
    border-radius: 50%;
    /*上下の位置調整*/
    vertical-align: -4px;
    margin-right: 5px;
}

.radio__btn:checked {
    background-color: #fff;
    border: 6px solid #4E301B;
    box-shadow: 0 0 0 1px #fff;
}

.radio__btn:hover,
.submit__btn:hover {
    cursor: pointer;
}

.form__input {
    margin-top: 8px;

    @include mq(tb) {
        margin-top: -1.1rem;
        width: 33.4rem;
    }

    @include mq(pg) {
        width: 334px;
        margin-top: -11px;
    }
}

.text__box-01,
.text__box-02,
.textarea {
    background-color: #EFEAE6;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.text__box-02 {
    width: 50%;
}


.textarea {
    line-height: 1.8;
    height: 10.65em;
}

.error_text {
    display: none;
}

.submit__wrapper {
    text-align: center;
}

.submit__inner {
    margin: 4rem auto 0;
    display: inline-block;

    @include mq(tb) {
        margin-top: 4.6rem;
    }

    @include mq(pg) {
        margin-top: 46px;
    }

}

/*送信ボタン*/
input[type="submit"] {
    font-size: 14px;
    color: #4E301B;
    padding: 13px 63px;
    background-color: $yellow;
    border-radius: 8px;
    cursor: pointer;

    @include mq(pg) {
        font-size: 14px;
        padding: 13px 93px;
    }
}

/*送信ボタンhover*/
input[type="submit"]:hover {
    opacity: .7;
}

/*送信ボタン押せないとき*/
input[type="submit"][disabled] {
    background: #EFEAE6;
    cursor: default;
}

// --- お問い合わせ ここまで ---