@use '../global' as *;

// --- お知らせ ここから ---
.info {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;

    @include mq(tb) {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    @include mq(pg) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.info::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -7rem;
    width: 18.8rem;
    height: 12.5rem;
    background-image: url(../../asset/image/grapes.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    @include mq(tb) {
        width: 23.5rem;
        height: 15.7rem;
        bottom: -8.2rem;
    }

    @include mq(pg) {
        width: 235px;
        height: 157px;
        bottom: -82px;
    }
}

.info__wrapper {
    padding-top: 9.2rem;

    @include mq(pg) {
        padding-top: 92px;
    }
}

.info__inner {
    max-width: 90%;
    margin: 0 auto;
    border-top: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mq(tb) {
        max-width: 93.4rem;
        padding-top: 1.8rem;
        padding-bottom: 1.9rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12rem;
    }

    @include mq(pg) {
        max-width: 934px;
        padding-top: 18px;
        padding-bottom: 19px;
        gap: 120px;
    }
}

.info__time {
    font-size: 13px;
    font-weight: 400;
}

.info__text {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
}

// --- お知らせ ここまで ---