@use '../global' as *;

// --- ローディング ここから ---
.loader-bg {
    background-color: #FDF9EF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*横幅いっぱい*/
    height: 100vh;
    /*縦幅いっぱい*/
    position: fixed;
    /*コンテンツを見えないようにする*/
    top: 0;
    left: 0;
    z-index: 999;
}

.loader {
    width: 96px;
    height: 96px;
}


// --- ローディング ここまで ---