@use '../global' as *;

// --- 製品一覧 ここから ---
.product {
    width: 100%;
    background-color: $main_bg;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include mq(tb) {
        padding-top: 13.1rem;
        padding-bottom: 8.8rem;
    }

    @include mq(pg) {
        padding-top: 131px;
        padding-bottom: 88px;
    }
}

.product__wrapper {
    margin-top: 4rem;

    @include mq(tb) {
        margin-top: 9.4rem;
    }

    @include mq(pg) {
        margin-top: 94px;
    }
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 264px;
}

.swiper__inner {
    display: block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 6px;
}

.swiper__text {
    padding: 1.6rem;
    min-height: 16.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(tb) {
        min-height: 16.5rem;
    }

    @include mq(pg) {
        padding: 16px;
        min-height: 165px;
    }
}

.swiper__desc {
    font-size: 1.6rem;
    line-height: calc(24 /16);

    @include mq(pg) {
        font-size: 16px;
    }
}

.swiper__price {
    font-size: 1.6rem;
    font-weight: 400;

    @include mq(pg) {
        font-size: 16px;
    }
}
// --- 製品一覧 ここまで ---